<h3>Calibration Controls</h3>
<div>
	<div class="checkbox-label">Gantry</div>
	<div class="checkbox {{checkboxClass('calibrateGantry')}}" ng-click="checkboxClick('calibrateGantry')" ></div>
</div>
<div>
	<div class="checkbox-label">Tray Feeder</div>
	<div class="checkbox {{checkboxClass('calibrateTrayFeeder')}}" ng-click="checkboxClick('calibrateTrayFeeder')" ></div>
</div>
<div>
	<div class="checkbox-label">PCB Feeder</div>
	<div class="checkbox {{checkboxClass('calibratePCBFeeder')}}" ng-click="checkboxClick('calibratePCBFeeder')" ></div>
</div>

<button class="big-button {{calibrateClass()}}" ng-click="calibrate()">Calibrate</button>
