<h3>Pick-and-Place Head Controls</h3>

<div class="vslider-container">
	<div class="vslider-label">Left</div>
	<input class="vslider" type="range" min="0" max="100" step="100" ng-model="spindleLeft.pos" />
	<div class="vslider-label">{{spindleLeft.pos}}%</div>
	<div style="position:relative">
		<div class="vslider-label2">Vacuum</div>
		<div class="checkbox {{vacuumClass(spindleLeft)}} vslider-label" ng-click="vacuumClick(spindleLeft)" ></div>
	</div>
</div>

<div class="vslider-container">
	<div class="vslider-label">Right</div>
	<input class="vslider" type="range" min="0" max="100" step="100" ng-model="spindleRight.pos" />
	<div class="vslider-label">{{spindleRight.pos}}%</div>
	<div class="checkbox {{vacuumClass(spindleRight)}} vslider-label" ng-click="vacuumClick(spindleRight)" ></div>
</div>

